
// ===========================================
// Skills
// ===========================================


// Structure
// ===========================================
	#projects .section-header {
		margin-top: 0;
	}

  #project-wrapper {
  	margin-top: rem(75px);
  }
  

// Color
// ===========================================
	#projects {
		background: $color-secondary;
	}

