
// ===========================================
// Z-Index
// ===========================================

  html,
  body {
    z-index: 0;
  }

  #artwork-menu {
    z-index: 900;
  }

  #main-menu {
    z-index: 800;
  }

  #main-menu-button {
    z-index: 801;
  }

