
// ===========================================
// Images
// ===========================================


// Structure
// ===========================================
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    max-width: 100%;
    
    @include no-select;
  }

  .img--top-fix {
    margin-top: rem(-1px);
  }

  .img--bot-fix {
    margin-bottom: rem(-1px);
  }


// Display Breakpoints
// ===========================================
  
  // phone screens
  .img--portrait {
    display: block;
  }

  .img--landscape {
    display: none;
  }


  // phone and tablet landscape
  @include bp-landscape-tablet {   
    .img--landscape {
      display: block;
    }
    .img--portrait {
      display: none;
    }
  }


  // larger than phone screens
  @include bp-min-width-sm {
    .img--landscape {
      display: block;
    }
    .img--portrait {
      display: none;
    }
  }


