

/*=================================
  =Directory - contact.css
  =================================*/

  /* Structure
  ---------------------------------*/
  #contact.section-wrapper {
    padding-bottom: 0px;
  }

  #contact .text-container {
    max-width: 450px;
  }  
  @media all and (min-width: 768px) {
    #contact .text-container {
      max-width: 550px;
    }
  }

  footer {
    margin: 10px auto 25px;
  }





